<!doctype html>
<html lang="en" ng-app="angularMusic">
  <head>
    <title>Angular Music</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="css/main.css" type="text/css" />
  </head>
  <body>
    <nav class="sidebar" ng-show="isLoggedIn()">
        <input type="text" name="search" value="Search"/>
        <header>
            <h4><a href="#!menu">Menu</a></h4>
        </header>
        <ul>
            <li>Recently played</li>
        </ul>
        
        <h3>{{current_user.username}}</h3>
        <a ng-click="logOut()">Logout</a>
    </nav>
    <div id="content" ng-view >
      
    </div>
    <footer ng-hide="isLoggedIn" id="footer">
      <p>&copy;</p>  
    </footer>
    
    
    
    <div id="player-bar" ng-show="isLoggedIn()">
      <div class="album-info">
         <div id="albums" class="albums-thumb-playback">
            <div class="album-image">
                <a> 
                   <img id="playerbar-image" ></img>
                </a>
            </div>
            <div class="album-text">
              <h3 id="song-name"></h3>
              <p id="album-name"></p> 
            </div>
        </div>
      </div>

        <div id="player-dashboard">
          <ul class="player-buttons">
            <li><i class="fa fa-step-backward" aria-hidden="true" ng-click="previousSong(current_song, current_album)"></i></li>
            <li><i class="fa fa-2x" ng-class="{'fa-pause-circle': !paused, 'fa-play-circle': paused}" ng-click="playToggle()" aria-hidden="true"></i></li>
            <li><i class="fa fa-step-forward" aria-hidden="true" ng-click="nextSong(current_song, current_album)"></i></li>
          </ul>
          <div id="progress-bar">
            <div class="slider">
              <span id="current-time">3:12</span>
              <div id="progress"><div class="knob"></div></div>
              <span id="total-time">5:10</span>
            </div>
          </div>
          <div class="volume-container">
            <input type="range" min="0" max="100" value="50" id="volume">
          </div>
          <audio id="audio"></audio>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
    <script type="text/javascript" src="js/ng-file-upload.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-route.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-cookies.min.js"></script>
    <script src="js/production/production.min.js"></script>
  </body>
</html>
