<div id="album" ng-controller="albumCtrl">
    <section class="row">
        <div id="albums" class="col albums-large">
            <div class="album-image">
                <a> 
                    <img ng-src="{{album.image}}"></img>
                    <div ng-show="songs" class="play-album" ng-click="playSong(current_song, album)">
                       <i class="fa fa-play-circle fa-3x play-album"></i> 
                    </div>
                </a>
            </div>
            <h2>{{album.name}}</h2>
            <p>{{album.username}}</p>
        </div>
            
        <div id="songs" class="col-7">
            <ol>
                <li ng-repeat="song in songs">
                    <span class="song-name" ng-click="playSong(song, album)"><i class="fa fa-play play-song"></i> {{song.name}}</span>
                </li>
            </ol>
            
        </div>
        <form id="song-form" ng-show="currentUser().id == album.artist_id">
            <h1>Add new song</h1>
            <div class="form-group"> 
                <label>Song name</label>
                <input class="form-control" type="text" name="name" ng-model="name" required/>
            </div>

            <div class="form-group">     
                <label>Song File</label>
                <input class="form-control" class="button" ngf-select type="file" ng-model="song" name="song" ngf-pattern="'audio/*'"
                ngf-accept="'audio/*'" ngf-max-size="20MB"  required>
            </div>
                <input class="btn btn-success" type="submit" value="Submit" ng-click="addSong(name, song)"/>
                <audio controls ngf-src="song"></audio>
            </form>
    </section>
</div>