<div id="menu">
    <nav class="sidebar">
        <input type="text" name="search"/>
        <ul>
            <li>Text</li>
        </ul>
    </nav>
    
    <div id="albums">
        <h1>Recent Albums</h1>
        <ul>
            <li>
                <img src="../img/placeholder_cover.jpg"></img>
                <h3>Album name</h3>
                <p>Artist Name</p>
            </li>
            <li>
                <img src="../img/placeholder_cover.jpg"></img>
                <h3>Album name</h3>
                <p>Artist Name</p>
            </li><li>
                <img src="../img/placeholder_cover.jpg"></img>
                <h3>Album name</h3>
                <p>Artist Name</p>
            </li>
            <li>
                <img src="../img/placeholder_cover.jpg"></img>
                <h3>Album name</h3>
                <p>Artist Name</p>
            </li>
            <li>
                <img src="../img/placeholder_cover.jpg"></img>
                <h3>Album name</h3>
                <p>Artist Name</p>
            </li>
            <li>
                <img src="../img/placeholder_cover.jpg"></img>
                <h3>Album name</h3>
                <p>Artist Name</p>
            </li>
        </ul>
    </div>
</div>