<div id="signup" ng-controller="signupCtrl">
    <div>
        <form>
            <h1>Sign up</h1>
             <div class="form-group">
                <label>Username</label>
                <input type="text" name="username" ng-model="username" class="form-control" required pattern=".{3,50}" title="3 to 50 characters"/>
            </div>
            
            <div class="form-group">
                <label>Password</label>
                <input type="password" name="password" class="form-control" ng-model="password" required pattern=".{8,50}" title="8 to 50 characters"/>
            </div>
            
            <div class="form-group">
                <label>Password confirmation</label>
                <input type="password" name="password_confirmation" class="form-control" ng-model="password_confirmation" required pattern=".{8,50}" title="8 to 50 characters"/>
            </div>
            <input type="submit" value="Signup" id="signup-submit" ng-click="confirmUserData(username, password, password_confirmation)" class="btn btn-success"/>
            <p>Already a member ? <a href="#!login">Log in</a></p>
            <div class="alert alert-danger" ng-show="messages">
                <ul>
                    <li ng-repeat="msg in messages">{{msg}}</li>
                </ul>
            </div>
        </form>  
    </div>
</div>